<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../views/partials/head.ejs') %>
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <%- include('../views/partials/spinner.ejs') %>
        <!-- Spinner End -->
        <!-- Navbar Start -->
        <%- include('../views/partials/nav.ejs') %>
        <!-- Navbar End -->

        <!-- Header Start -->
        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-6 animated fadeIn mb-4">Encuentra el <span class="text-primary">Alojamiento perfecto</span> para tus vacaciones</h1>
                    <p class="animated fadeIn mb-4 pb-2">Busca entre cientos de alojamientos locales de Cataluña y fomenta el turismo sostenible</p>
                    <!-- <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Reserva ya</a> -->
                </div>
                <div class="col-md-6 animated fadeIn">
                    <img class="img-fluid" src="img/carousel-1.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- Header End -->

        <!-- Search Start -->
        <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            <form class="container" action="/search" method="GET">
                <div class="row g-2 align-items-end">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-3">
                                <label for="destination" class="search-labels">Destino</label>
                                <input type="text" name="destination" class="form-control border-0 py-3" placeholder="Sitios en Cataluña">
                            </div>
                            <div class="col-md-3">
                                <label for="checkin" class="search-labels">Llegada</label>
                                <input type="date" id="date-checkin" name="checkin" class="form-select border-0 py-3">
                            </div>
                            <div class="col-md-3">
                                <label for="checkout" class="search-labels">Salida</label>
                                <input type="date" id="date-checkout" name="checkout" class="form-select border-0 py-3">
                            </div>
                            <div class="col-md-1">
                                <label for="maxPrice" class="search-labels" >Precio</label>
                                <input type="number" name="maxPrice" class="form-control border-0 py-3" min="1">
                            </div>
                            <div class="col-md-1">
                                <label for="people" class="search-labels">Huéspedes</label>
                                <input type="number" name="people" class="form-control border-0 py-3" min="1">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Buscar" class="btn btn-dark border-0 py-3">
                    </div>                    
                </div>
            </form>
        </div>
        <!-- Search End -->

        <!-- Property List Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4 mb-4">
                            <!--Start Card Apartment-->
                            <% apartmentsData.forEach(apartment => { %>
                                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                 <div class="property-item rounded overflow-hidden">
                                     <div class="position-relative overflow-hidden">
                                         <a href="/apartment/<%= apartment._id %>"><img class="img-fluid card-image" id="photoCard" src="<%=apartment.mainPhoto%>" alt=""></a>
                                     </div>
                                     <div class="p-4 pb-0">
                                         <h5 class="text-primary mb-3" id="priceCard"><%=apartment.price %>€</h5>
                                         <a class="d-block h5" id="titleCard" href="/apartment/<%= apartment._id %>"><%=apartment.title%></a>
                                         <p><i class="fa fa-map-marker-alt text-primary me-2" id="addressCard"></i><%=apartment.address.city.name%>, <%=apartment.address.province.name%></p>
                                     </div>
                                     <div class="pb-0 d-flex border-top gap-1">
                                        <% apartment.services.forEach(service=>{ %>
                                            <% if (service == 'wifi') { %>
                                                <small class="flex-fill text-center border-end py-2"><i class="fas fa-wifi text-primary me-2"></i></small>
                                           <% }else if (service =='kitchen'){ %>
                                                <small class="flex-fill text-center border-end py-2"><i class="fas fa-utensils text-primary me-2"></i></small>
                                           <% }else if (service =='airConditioner'){%>
                                                <small class="flex-fill text-center border-end py-2"><i class="fas fa-snowflake text-primary me-2"></i></small>
                                            <% }else if (service =='adapted'){%>
                                                <small class="flex-fill text-center border-end py-2"><i class="fas fa-wheelchair text-primary me-2"></i></small>
                                            <% }else if (service =='tv'){%>
                                                <small class="flex-fill text-center border-end py-2"><i class="fas fa-tv text-primary me-2"></i></small>
                                            <% }else if (service =='heating'){%>
                                                <small class="flex-fill text-center border-end py-2"><i class="fas fa-fire text-primary me-2"></i></small>
                                                <% } %>                             
                                       <% })%>
                                     </div>
                                     <div class="d-flex border-top">
                                         <small class="flex-fill text-center border-end py-2" id="metersCard"><i class="fa fa-ruler-combined text-primary me-2"></i><%=apartment.size%> m<sup>2</sup></small>
                                         <small class="flex-fill text-center border-end py-2" id="bedsCard"><i class="fa fa-bed text-primary me-2"></i><%=apartment.beds%> Beds</small>
                                         <small class="flex-fill text-center py-2" id="bathCard"><i class="fa fa-bath text-primary me-2"></i><%=apartment.bathrooms%> Bath</small>
                                     </div>
                                 </div>
                                </div>

                            <%}); %> 

                                <!--End Card Apartment-->
                            </div>
                            
                            
                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                                <a class="btn btn-primary py-3 px-5" href="">Mostrar más</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Property List End -->




        <!-- Testimonial Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Opiniones recientes</h1>
                    <p>En este apartado puedes encontrar algunos de los últimos comentarios de usuarios que ya han disfrutado de la experiencia de conseguir el mejor alojamiento para sus vacaciones con Tribook.</p>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item bg-light rounded p-3">
                        <div class="bg-white border rounded p-4">
                            <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded" src="img/testimonial-1.jpg" style="width: 45px; height: 45px;">
                                <div class="ps-3">
                                    <h6 class="fw-bold mb-1">Client Name</h6>
                                    <small>Profession</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-3">
                        <div class="bg-white border rounded p-4">
                            <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded" src="img/testimonial-2.jpg" style="width: 45px; height: 45px;">
                                <div class="ps-3">
                                    <h6 class="fw-bold mb-1">Client Name</h6>
                                    <small>Profession</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-3">
                        <div class="bg-white border rounded p-4">
                            <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded" src="img/testimonial-3.jpg" style="width: 45px; height: 45px;">
                                <div class="ps-3">
                                    <h6 class="fw-bold mb-1">Client Name</h6>
                                    <small>Profession</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
        

        <!--Footer start-->
        <%- include('../views/partials/footer.ejs') %>


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
     <%- include('../views/partials/scripts.ejs') %>

</body>

</html>